@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Oswald:300|Teko:500&display=swap");

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 12px;
	font-family: "Yu Gothic UI", sans-serif;
	line-height: 1.35;
}

body {
	padding: 5px 10px;
	margin: 0;
	background-color: white;
}

p {
	padding: 6px 10px 6px 10px;
	margin: 2px 0;
	border-left: 3px solid #1f8dd6;
}

dl:not(dl[class]),
ol:not(ol[class]),
ul:not(ul[class]) {
	margin: 2px 0;
	padding: 6px 20px;
	border-left: 3px solid rgb(250, 210, 50);
	background-color: rgba(250, 210, 50, 0.1);
}

dt {
	border-bottom: 1px solid #ddd;
	padding-bottom: 3px;
	margin-bottom: 3px;
}

dd {
	margin: 0px 0px 20px 0;
}

pre {
	white-space: pre;
	margin: 2px 0;
	padding: 12px 10px 5px 10px;
	border-left: 3px solid rgba(250, 210, 50, 1);
	background-color: rgba(250, 210, 50, 0.1);
}

a {
	text-decoration: none;
}

ul li {
	list-style-type: none;
	padding: 6px 0;
}

ul li:before {
	font-family: Material Icons;
	font-size: 11px;
	content: "\e876";
	margin: 0 4px 0 -10px;
	display: inline-block;
	vertical-align: bottom;
	color: rgb(200, 160, 40);
}

h,
h1,
h2,
h3,
h4,
h5 {
	font-size: 18px;
	font-family: "Oswald", sans-serif;
	padding: 20px 0 10px 0;
	display: block;
}

/* ==================================================== 
 * Signature Block
 * ==================================================== */
dl:last-child:before {
	font-size: 18px;
	font-family: "Oswald", sans-serif;
	display: block;
	content: "Signature";
	position: absolute;
	top: -36px;
	left: -3px;
}

dl:last-child {
	margin: 58px 0;
	padding: 12px 0 5px 10px;
	border-left: 3px solid #dd514c;
	background-color: transparent;
	position: relative;
}

dl:last-child dt {
	float: left;
	display: block;
	width: 70px;
	text-transform: uppercase;
	font-size: 9px;
	font-weight: bold;
	color: #8c3a2b;
	padding-top: 2px;
	border-bottom: none;
}

dl:last-child dd {
	margin: 0px 0px 15px 70px;
}

dl:last-child b {
	display: block;
	border-bottom: 1px solid #ddd;
	padding-bottom: 3px;
	margin-bottom: 3px;
	font-weight: bold;
	text-transform: capitalize;
}
